# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Check CI
# yamllint disable-line rule:truthy
on:
  push:
  pull_request_review:
    types:
      - submitted
permissions: read-all
jobs:
  check-format:
    name: Check scripts format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@17bd25a6ee188d2b91f677060038f4ba37ba14b2 # 0.9.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHFMT_OPTS: -i 4 -s
        with:
          sh_checker_shellcheck_disable: true
          sh_checker_exclude: "spec/setup_spec.sh"
  check-ci-baremetal-jammy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - name: Setup a Supported python version # NOTE: https://docs.openstack.org/tempest/latest/supported_version.html
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        id: python3-setup
        with:
          python-version: "3.11" # NOTE: distutils deprecated on Python 3.12+ (https://peps.python.org/pep-0632/)
      - name: Create symlink
        run: |
          version=${{ steps.python3-setup.outputs.python-version }}
          path="/usr/bin/python${version%\.*}"
          sudo rm -f "$path"
          sudo ln -s ${{ steps.python3-setup.outputs.python-path }} "$path"
      - name: Uninstall postgresql package # NOTE: This has a conflict with Azure packages (https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md#postgresql)
        run: sudo apt-get --purge -y remove postgresql*
      - name: Deploy services
        env:
          MYSQL_PASSWORD: root
        run: ./setup.sh
  check-ci-baremetal-focal:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - name: Setup a Supported python version # NOTE: https://docs.openstack.org/tempest/latest/supported_version.html
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        id: python3-setup
        with:
          python-version: "3.11" # NOTE: distutils deprecated on Python 3.12+ (https://peps.python.org/pep-0632/)
      - name: Create symlink
        run: |
          version=${{ steps.python3-setup.outputs.python-version }}
          path="/usr/bin/python${version%\.*}"
          sudo rm -f "$path"
          sudo ln -s ${{ steps.python3-setup.outputs.python-path }} "$path"
      - name: Deploy services
        env:
          MYSQL_PASSWORD: root
        run: ./setup.sh
  check-e2e-rocky:
    runs-on: vm-self-hosted
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - uses: ./.github/actions/vagrant-setup
      - name: Deploy services
        env:
          VAGRANT_DISABLE_VBOXSYMLINKCREATE: 1
          VAGRANT_EXPERIMENTAL: disks
          MEMORY: 12288
          OS: rocky
          RELEASE: 9
        run: |
          cd ci
          ./bootstrap.sh
      - name: Check HW resources
        if: failure()
        run: |
          VBoxManage list runningvms --long
          cat ~/VirtualBox\ VMs/*/Logs/*.log
  check-bash-shellspec:
    name: Run BDD shell specs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - name: Install ShellSpec
        run: curl -fsSL https://github.com/shellspec/shellspec/releases/latest/download/shellspec-dist.tar.gz | tar -xz -C ..
      - name: Run Shellspec
        shell: 'script -q -e -c "bash {0}"'
        run: ../shellspec/shellspec --profile --xtrace
