# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2022
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Scheduled All Linux Distros Supported verification
# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:
jobs:
  generate-json-matrix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Get matrix values
        id: set-matrix
        run: |
          if ! command -v shyaml; then
              pip install shyaml
          fi

          output=""
          for os in $(shyaml keys < distros_supported.yml); do
              for release in $(shyaml keys "$os" < distros_supported.yml); do
                  output+="{\"os\": \"$os\", \"release\": \"$release\"},"
              done
          done

          length=${#output}
          echo "matrix=[${output::length-1}]" >> "$GITHUB_OUTPUT"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
  check-all-distros:
    name: Check all Linux Distributions supported in an All-in-One setup
    runs-on: vm-self-hosted
    permissions:
      contents: read
    needs: generate-json-matrix
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.generate-json-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/vagrant-setup
      - name: Deploy Devstack instance
        env:
          VAGRANT_DISABLE_VBOXSYMLINKCREATE: 1
          VAGRANT_EXPERIMENTAL: disks
          OS: ${{ matrix.os }}
          RELEASE: ${{ matrix.release }}
          MEMORY: 12288
        run: |
          cd ci
          ./bootstrap.sh
